* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins";
    }

    body {
        height: 100vh;
        display: flex;
        flex-wrap: wrap; /*serve para empilhar itens flexiveis em várias linhas */
        align-items: center;
        justify-content: space-between;
        padding: 2rem; /* relativo ao tamanho da fonte do html */
        background: linear-gradient(90deg, #f0f0f0, #a9d6ff);
        
    }

    .coluna-texto {

        flex: 1 1 100%; /* fica maior ou menor e pode ocupar 100% da tela se precisar */
        max-width: 40 rem;
        margin-bottom: 2rem; /* espaço abaixo do texto. */
    }

    .coluna-texto2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }
     .coluna-texto p {
        font-size: 1rem;
        color: #333;
        margin-bottom: 2rem;

     }

     .coluna-texto img {
        width: 12rem;
        margin-top: 1rem;
     }

     .carrossel-container {
        position: relative;
        width: 22rem;
        height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
        margin-left: auto; 
     }

     .carrossel-stack {
      position: relative;
      width: 100%;
      height: 100%;
     }

     .carrossel {
        display: flex; /*para deixar os cards um ao lado do outro */
        transition: transform 0.5s ease; /* anima o movimento dos cards */
    
     }
     
     .card {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(0.9);
        opacity: 0.6;
        background: #fff;
        border-radius: 1rem;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
        width: 18rem;
        text-align: center;
        transition: all 0.5s ease;
     }

     .card:hoover{
        transform:  translateY(-0.6rem); /*levanta ao passar o cursor*/
     }

     .card img {
        width: 100%;
        height: 15rem;
        object-fit: cover; /*corta a foto para preencher sem distorcer*/
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }

     .card h3 {
        margin: 0.6rem 0 0.3rem; /*espaçamento acima e abaixo do nome*/
        font-size: 1.2rem;
        font-weight: bold; 
     }

     .card p {
        font-size: 0.9rem;
        color: gray;
        margin-bottom: 0.6rem;
     }

     .redes-sociais {
        display: flex;
        justify-content: center;
        gap: 0.6rem;
        border-top: 1px solid #eee;
        padding: 0.6rem;
      }

     .redes-sociais a {
        text-decoration: none;
        font-size: 1.3rem;
        color: #333;
     }

     .card.ativo {

      transform: translateX(-50%) scale(1);
      opacity: 1;
      z-index: 3;
     }

     .card:nth-child(1) { transform: translateX(-90%) scale(0.85); z-index: 1; }
     .card:nth-child(3) { transform: translateX(-10%) scale(0.85); z-index: 1; }

     .setas-carrossel {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        font-size: 1.2rem;
        transition: 0.3s;
     }

     .setas:hover {
      background: rgba(0, 0, 0, 0.7);
     }

     .setas.esquerda {
      left: -3rem; /* deixa a seta esquerda dentro do container */
     }

     .setas.direita {
      right: -3rem;
     }

     /* Responsividade */

     @media (max-width: 1024px){
      body {
         flex-direction: column; /* Deixa o texto e o carrossel no canto */
         text-align: center;
      }

      .sessao-texto {
         max-width: 100%;
      }

      .container-carrossel{
         width: 100%;
      }
     }

     @media (max-width: 768px){
      .card {
         flex: 0 0 14rem;
      }

      @media (max-width: 480px){
         .card {
            flex: 0 0 100%;
            margin: 0 0 0.5rem;
         }
      }
     }
