
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #e0f7ff, #a0e0ff);
    padding-left: 50px; 
    gap: 40px; 
    flex-wrap: wrap;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 450px;
    height: auto;
}

.texto {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word; 
}

.texto h1 {
    font-size: 2em;
    color: #0d47a1;
    margin-bottom: 20px;
}

.texto p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}


@media (max-width: 768px) {
    body {
        flex-direction: column;
        text-align: center;
        padding-left: 20px;
        gap: 20px;
    }

    .texto {
        max-width: 90%;
    }
}
